.book{
margin: 0 auto;
}
header{
height: 70px;
background: green;
color: white;
}
.book-header{display: none;}
.page-inner{
max-width: 100%;
}
.book-summary{
background: #24292E;
}
.book-search-input{
background: #24292E !important;
}
.book-search-input input{
background: white !important;

}
ul.summary a{
color: white;

}
.gitbook-link{
display: none;
}